<template>
  <div class="wrapper">

          <md-table style="background-color:transparent; ">
            <md-table-row>
              <md-table-head style="width:30px; height:30px;">Photo</md-table-head>
              <md-table-head style="width:50px; height:30px;">Nazwa</md-table-head>
              <md-table-head style="width:150px; height:30px;">Opis</md-table-head>
              <md-table-head style="width:50px; height:30px;">Usuń</md-table-head>
              <md-table-head style="width:50px; height:30px;">Edytuj</md-table-head>
            </md-table-row>

            <md-table-row  v-for="product in products" v-bind:key="product.id">
              <md-table-cell style="width:30px; height:30px;"><img :src="product.photoUrl"/></md-table-cell>
              <md-table-cell style="width:50px; height:30px;">{{product.name}}</md-table-cell>
              <md-table-cell style="width:150px; height:30px;">{{product.description}}</md-table-cell>
              <md-table-cell style="width:50px; height:30px;"><md-button class="md-danger" @click="deleteProduct(product.id)">Usuń</md-button></md-table-cell>
              
                <md-table-cell style="width:50px; height:30px;">
                  <router-link :to="{ name: 'editproduct', params: { id: product.id }}">
                    <md-button class="md-success">Edytuj</md-button>
                  </router-link>
                </md-table-cell>
            </md-table-row>
          </md-table>
          </div>

</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
import { Tabs } from "@/components";

export default {
  components: {
    Tabs
  },
bodyClass: "admin-page",
  data() {
    return {
      products:{},
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background2.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }    
  },

      methods: {
        getProducts() {
        axios.get('http://localhost:56119/api/Product/GetAllProduct', { headers: authHeader() } )
        .then(response => {
            // handle success
            console.log(response);
            this.products = response.data.products
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
      },

    deleteProduct(productId) {
      axios.delete('http://localhost:56119/api/product/DeleteProduct?productId='+ productId, {headers:authHeader()})
            .then(response => {
              this.getProducts();
              console.log(response);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            }); 
    }    
  },
  mounted() {
    axios.get('http://localhost:56119/api/Product/GetAllProduct?')
        .then(response => {
            // handle success
            console.log(response);
            this.products = response.data.products
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
  }
};
</script>

<style lang="scss" scoped>

</style>