<template>
  <div class="wrapper">

          <md-table style="background-color:transparent; ">
            <md-table-row>
              <md-table-head style="width:30px; height:30px;">Imie</md-table-head>
              <md-table-head style="width:50px; height:30px;">Nazwisko</md-table-head>
              <md-table-head style="width:150px; height:30px;">Email</md-table-head>
              <md-table-head style="width:150px; height:30px;">Aktywny</md-table-head>
              <md-table-head style="width:50px; height:30px;">Usuń</md-table-head>
              <md-table-head style="width:50px; height:30px;">Edytuj</md-table-head>
            </md-table-row>

            <md-table-row  v-for="user in users" v-bind:key="user.id">
              <md-table-cell style="width:30px; height:30px;">{{user.name}}</md-table-cell>
              <md-table-cell style="width:50px; height:30px;">{{user.lastName}}</md-table-cell>
              <md-table-cell style="width:150px; height:30px;">{{user.email}}</md-table-cell>
              <md-table-cell style="width:150px; height:30px;">{{user.isActive}}</md-table-cell>
              <md-table-cell style="width:50px; height:30px;"><md-button class="md-danger" @click="deleteUser(user.id)">Usuń</md-button></md-table-cell>
              <md-table-cell style="width:50px; height:30px;"> 
                <router-link :to="{ name: 'edituser', params: { id: user.id }}">
                    <md-button class="md-success">Edytuj</md-button>
                </router-link></md-table-cell>
              
            </md-table-row>

            
          </md-table>
          </div>

</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
import { Tabs } from "@/components";

export default {
  components: {
    Tabs
  },
bodyClass: "admin-page",
  data() {
    return {
      users:{},
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background2.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }    
  },
  methods: {
            getUsers() {
        axios.get('http://localhost:56119/api/Users/GetAllUsers', { headers: authHeader() } )
        .then(response => {
            // handle success
            console.log(response);
            this.users = response.data.users;
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
      },
    deleteUser(userId) {
      axios.delete('http://localhost:56119/api/Users/DeleteUser?userId='+ userId , {headers:authHeader()})
            .then(response => {
              this.getUsers();
                console.log(response);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            }); 
       }
    },
  mounted() {
    axios.get('http://localhost:56119/api/Users/GetAllUsers',{headers:authHeader()})
        .then(response => {
            // handle success
            console.log(response);
            this.users = response.data.users
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
  }
};

</script>

<style lang="scss" scoped>

</style>