<template>
  <div class="wrapper">

          <md-table style="background-color:transparent; ">
            <md-table-row>
              <md-table-head style="width:30px; height:30px;">Użytkownik</md-table-head>
              <md-table-head style="width:50px; height:30px;">Photo</md-table-head>
              <md-table-head style="width:150px; height:30px;">Produkt</md-table-head>
              <md-table-head style="width:50px; height:30px;">OD</md-table-head>
              <md-table-head style="width:50px; height:30px;">DO</md-table-head>
            </md-table-row>

            <md-table-row v-for="reservation in reservations" v-bind:key="reservation.productId">
              <md-table-cell>{{reservation.userName}}</md-table-cell>
              <md-table-cell><img :src="reservation.imageUrl" style="height: 30px; max-width: 30px; margin-bottom: 0"></md-table-cell>
              <md-table-cell><strong>{{reservation.productName}}</strong></md-table-cell>
              <md-table-cell>{{reservation.dateRange.start | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
              <md-table-cell>{{reservation.dateRange.end | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
              <md-table-cell style="width:50px; height:30px;"><md-button class="md-danger" @click="deleteUser(user.id)">Usuń</md-button></md-table-cell>
              <md-table-cell style="width:50px; height:30px;"> 
              <router-link :to="{ name: 'editreservation', params: { id: reservation.id }}">
                  <md-button class="md-success">Edytuj</md-button>
              </router-link></md-table-cell>              
            </md-table-row>            
          </md-table>
          </div>

</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
import { Tabs } from "@/components";

export default {
  components: {
    Tabs
  },
bodyClass: "admin-page",
  data() {
    return {
      reservations: { }
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background2.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }    
  },
  methods: {
            getUsers() {
        axios.get('http://localhost:56119/api/Product/GetAllProduct', { headers: authHeader() } )
        .then(response => {
            // handle success
            console.log(response);
            this.users = response.data.users;
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
      },
    deleteUser(userId) {
      axios.delete('http://localhost:56119/api/Users/DeleteUser?userId='+ userId , {heades:authHeader()})
            .then(response => {
              this.getUsers();
                console.log(response);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            }); 
       }
    },
  mounted() {
    axios.get('http://localhost:56119/api/Rental/GetAllReservations', { headers: authHeader() })
      .then((response) => {
        console.log(response);
        this.reservations = response.data
      })
      .catch(function (error) {
        console.log(error);
      });
  }
};

</script>

<style lang="scss" scoped>

</style>