<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container " v-if="!this.editFinished">
        <div class="md-layout ">
            <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="gray">

              <h4 slot="title" class="card-title">Edycja użytkowników</h4>     

              <md-field class="md-form-group" slot="inputs" >
                   <label>Imie</label>
                   <md-input v-model="users.firstName" name="firstName" type="text"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                  <label>Nazwisko</label>
                  <md-input v-model="users.lastName" name="lastName" type="text"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                  <label>Email</label>
                  <md-input v-model="users.email"  name="email" type="text"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                  <label>Aktywny</label>
                  <md-input v-model="users.isActive"  name="isActive" type="text"></md-input>
              </md-field>

                <!-- <md-field class="md-form-group" slot="inputs">
                  <label>Hasło</label>
                  <md-input v-model="users.password" name="password" type="text"></md-input>
              </md-field> -->

              <md-button slot="footer" @click="editUser()" style="color:gray;" class="md-simple md-lg">
                Zapisz
              </md-button>

            </login-card>
          </div>
        </div>
      </div>
      <div class="container" v-else>
        <div class="md-layout">
          <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="gray">
                <h4 slot="title" class="card-title">Edycja</h4>             
                <h6 slot="inputs">Użytkownik został edytowany</h6>                
            </login-card>
            <md-button href="#/adminpanel">Wróć</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import axios from 'axios';
import { authHeader } from '@/_helpers';
export default {
  components: {
    LoginCard
  },
bodyClass: "admin-page",
  data() {
    return {
        users: {},
        editFinished:false,
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background5.jpg")
    },
    props:["id"],
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  created() {
    this.id = this.$route.params.id;
  },
  methods: {
      editUser() {
        axios.put('http://localhost:56119/api/Users/UpdateUser?userId=' + this.id + 
                                                              '&firstName=' + this.users.firstName + 
                                                              '&lastName=' + this.users.lastName + 
                                                              '&email=' + this.users.email + 
                                                              '&password=' + this.users.password , { headers: authHeader() })
        .then((response) => {
            console.log(response);
            // localStorage.setItem('user', JSON.stringify(this.user));
            this.editFinished = true;
        })
        .catch(function (error) {
            console.log(error);
        });
      }
  },
    mounted() {
      axios.get('http://localhost:56119/api/Users/GetUser?userId=' + this.id , { headers: authHeader() } )
      .then(response => {
          // handle success
          console.log(response);
          this.users = response.data;
      })
      .catch(function (error) {
          // handle error
          console.log(error);
      })
      .then(function () {
          // always executed
      });
  }
  
};
</script>

<style lang="css">
</style>
