<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container " v-if="!this.editFinished">
        <div class="md-layout ">

                    <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="gray">

              <h4 slot="title" class="card-title">Edycja rezerwacji</h4>     

              <md-field class="md-form-group" slot="inputs">
                  <label>Data OD</label>
                  <md-input v-model="product.photoUrl" v-validate="'required'" name="od" type="text"></md-input>
              </md-field>
              
              <md-field class="md-form-group" slot="inputs">
                  <label>Data DO</label>
                  <md-input v-model="product.description" v-validate="'required'" name="do" type="text"></md-input>
              </md-field>
              <md-button slot="footer" @click="editReservation()" style="color:gray;" class="md-simple md-lg">
                Zapisz
              </md-button>

            </login-card>
          </div>
        </div>
      </div>
        <div class="container" v-else>
        <div class="md-layout">
          <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="gray">
                <h4 slot="title" class="card-title">Edycja</h4>             
                <h6 slot="inputs">Rezerwacja został edytowana</h6>                
            </login-card>
            <md-button href="#/adminpanel">Wróć</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import axios from 'axios';
import { authHeader } from '@/_helpers';
export default {
  components: {
    LoginCard
  },
bodyClass: "admin-page",
  // props:["id"],
  data() {
    return {
        product: { },
        editFinished:false,
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background5.jpg")
    },
    props:["id"],
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  created() {
    // reset login status
    this.id = this.$route.params.id;
        
  },
  methods: {
      editReservation() {
        axios.put('http://localhost:56119/api/Product/UpdateProduct?productId=' + this.id +'&name='+ this.product.name+'&url='+this.product.photoUrl + '&description='+this.product.description, { headers: authHeader() })
        .then((response) => {
            console.log(response);
            this.editFinished = true;
            // localStorage.setItem('product', JSON.stringify(this.product));
        })
        .catch(function (error) {
            console.log(error);
        });
      }
  },
    mounted() {
      axios.get('http://localhost:56119/api/Product/GetProduct?productId=' + this.id, { headers: authHeader() } )
      .then(response => {
          // handle success
          console.log(response);
          this.product = response.data;
      })
      .catch(function (error) {
          // handle error
          console.log(error);
      })
      .then(function () {
          // always executed
      });
  }
};
</script>

<style lang="css">
</style>
