<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle" style="height: 400px;">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <div class="search-main">
                <div class="search-box-wrapper">
                <input type="text" class="search-box" v-model="query"  ><br/>
                </div>
                <div class="search-box-wrapper">
                   <md-field style="margin: 0; ">
                    <md-select v-model="selectedCategory" name="selectedcategory" id="selectedcategory" placeholder="Wybierz kategorię">
                      <md-option value="5e790a77fabd934f241ae89a">Produkty ochronne</md-option>
                      <md-option value="5e790a99fabd934f241ae89b">Narzędzia pomiarowe</md-option>
                      <md-option value="5e790a99fabd934f241ae89c">Narzędzia ręczne</md-option>
                    </md-select>
                   </md-field>
                </div>
                <button class="md-button " style="height: 36px; padding-left: 10px; padding-right: 10px;" @click="search">Wyszukaj produkt</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised" style="min-height: 200px; padding: 20px 0">
        <div class="md-layout" style="width: 800px; margin: 20px auto;">
          <div class="md-layout-item md-size-20" style="border: 1px solid grey;" v-for="product in products" v-bind:key="product.id">
            <div style="min-height: 180px; background: #ffffff; padding: 10px 10px; margin-top: 10px; ">
              <router-link :to="{ name: 'offerdetails', params: { id: product.id } }">
              <div>
                <img :src="product.photoUrl" style="width:140px height:140px; margin:0 auto; " />

                <div style="text-align: center;">
                  <strong>{{ product.name }}</strong>
                </div>
              </div>
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BasicElements from "./components/BasicElementsSection";
import Navigation from "./components/NavigationSection";
import SmallNavigation from "./components/SmallNavigationSection";
import Tabs from "./components/TabsSection";
import NavPills from "./components/NavPillsSection";
import Notifications from "./components/NotificationsSection";
import TypographyImages from "./components/TypographyImagesSection";
import JavascriptComponents from "./components/JavascriptComponentsSection";
import { LoginCard } from "@/components";
import router from "../_helpers/router";
import { mapActions } from "vuex";
import axios from "axios"

export default {
  components: {
    BasicElements,
    Navigation,
    SmallNavigation,
    Tabs,
    NavPills,
    Notifications,
    TypographyImages,
    JavascriptComponents,
    LoginCard
  },
  name: "index",
  bodyClass: "index-page",
  props: {
    image: {
      type: String,
      default: require("@/assets/img/background4.jpg")
    },
    leaf4: {
      type: String,
      default: require("@/assets/img/leaf4.png")
    },
    leaf3: {
      type: String,
      default: require("@/assets/img/leaf3.png")
    },
    leaf2: {
      type: String,
      default: require("@/assets/img/leaf2.png")
    },
    leaf1: {
      type: String,
      default: require("@/assets/img/leaf1.png")
    },
    signup: {
      type: String,
      default: require("@/assets/img/city.jpg")
    },
    landing: {
      type: String,
      default: require("@/assets/img/landing.jpg")
    },
    profile: {
      type: String,
      default: require("@/assets/img/profile.jpg")
    }
  },
  data() {
    return {
      query: "",
      leafShow: false,
      products: [],
      selectedCategory: ""
    };
  },
  methods: {
    search() {
      console.log(this.query);
      console.log(this.selectedCategory);
      router.push({name:'search', params: {querySearch:this.query, category: this.selectedCategory}});
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.image})`
      };
    },
    signupImage() {
      return {
        backgroundImage: `url(${this.signup})`
      };
    }
  },
  mounted() {
    axios.get('http://localhost:56119/api/Product/GetRandomProduct?count=10')
        .then(response => {
            // handle success
            console.log(response);
            this.products = response.data.products
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
  },
  created() {
        
  
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.leafActive);
  }
};
</script>
<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}

.search-main {
  height: 75px;
  padding: 10px 15px;
  vertical-align: middle;
}

.search-box {
  height: 46px;
  margin: 0 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 280px;
}

.search-box-wrapper {
  width: 300px;
  background: #fff;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10%;
}

</style>
