<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle" style="height: 200px;">
      <div class="container">
        <div class="md-layout">
    			<div class="md-layout-item md-size-50 md-small-size-70 md-xsmall-size-100">

    			</div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <div class="section">
        <div class="container">
          <div class="md-layout">
            <div id="offer-left" class="md-layout-item md-size-70"><br/><br/>
              <div>
                <img :src="product.photoUrl" style="height:350px;vertical-align: middle; margin-left: auto; margin-right: auto; display: block;">
              </div>
              <div>
                <div style="font-size: 21px; font-weight: 700;">{{product.name}}</div>
              </div>

              <div style="margin: 20px 8px; border-bottom: 1px solid #e3e3e3">
                {{product.description}}
              </div>
              
            </div>  
            <div class="md-layout-item md-size-30">


              <div v-if="isLogged">
                <router-link :to="{ name: 'rentform', params: { productId: product.id } }" class="md-button md-success" style="width: 100%; min-height: 30px; padding: 10px 0 10px 0; text-align: center;">Rezerwuję</router-link>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>      
</template>

<script>
import axios from "axios"
import { authHeader } from '../_helpers';

export default {
  bodyClass: "offer-page",
  components: {

  },
  created() {
            this.id = this.$route.params.id;
            console.log(this.id);
        },
    mounted() {
       axios.get('http://localhost:56119/api/Product/GetProduct?productId='+ this.id)
      .then((response) => {
        console.log(response);
        this.product = response.data
      })
      .catch(function (error) {
        console.log(error);
      });
    },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background4.jpg")
    },
    teamImg1: {
      type: String,
      default: require("@/assets/img/faces/avatar.jpg")
    },
    teamImg2: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    },
    teamImg3: {
      type: String,
      default: require("@/assets/img/faces/kendall.jpg")
    }
  },
  data() {
    return {
      id: 0,
      product: {},
      tabs: [
      { title: 'Menu', value: 'tab1' },
      { title: 'Informacje', value: 'tab2' },
      { title: 'Opinie', value: 'tab3', }
      ],
      currentTab: 'tab1',
      favourite: false,
      counter:1,
    };
  },
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    addToFavourites() {
      console.log(this.product.id);
      axios.post('http://localhost:56119/userProfile/SetofferAsFavourite?offerId=' + this.offer.id, {}, { headers: authHeader() })
        .then(response => {
            // handle success
            console.log(response);
            this.favourite = true;
            console.log(this.offer.favourite);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
    }    
  
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    isLogged() {
      return this.$store.state.authentication.status.loggedIn;
    },
    countNumberElement() {
    var arr = product.quantity;
    for(var i=1; i<arr;i++){
      counter+=1;
    }
    // return this.counter;
  }
  }
};

</script>

<style>
#offer-left:before {
  height: 4px;
  background: #777777;
  top: -4px;
  position: absolute;
  content: '';
  left: 0;
  right: 30%;
  border-radius: 4px 4px 0 0;
}

#offer-left {
  background: #fff;
}

.offerLogo {
    float: left;
}
.offerInfo {
    float: left;
}
.md-card-actions.text-center {
  display: flex;
  justify-content: center !important;
}
.contact-form {
  margin-top: 30px;
}

.md-has-textarea + .md-layout {
  margin-top: 15px;
}

.tabs {
  position: relative;
  margin: 0 auto;
}

.tabs__item {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: gray;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s;
}

.tabs__item_active {
  color: black;
}

.tabs__item:hover {
  border-bottom: 2px solid gray;
  color: black;
}

.tabs__item:focus {
  outline: none;
  border-bottom: 2px solid gray;
  color: black;
}

.tabs__item:first-child {
  margin-left: 0;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__active-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: black;
  transition: transform 0.4s ease, width 0.4s ease;
}

.mapouter{text-align:right;height:500px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
</style>
