<template>
  <div class="wrapper">
    <parallax
      class="section page-header header-filter"
      :style="headerStyle"
    ></parallax>
    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout">
            <div class="md-layout-item md-size-50 mx-auto">
              <div class="profile">
                <div class="avatar">
                  <img
                    :src="avatar"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                </div>
                <div class="name">
                  <h3 class="title">{{ user.firstName }} {{user.lastName}}</h3>               
                </div>
              </div>
            </div>
          </div>
          <div class="profile-tabs">
            <tabs
              :tab-name="tabs"
              :tab-icon="tabsIcons"
              plain
              nav-pills-icons
              color-button="success"
            >
              <!-- here you can add your content for tab-content -->
              <template slot="tab-pane-1">
                <div class="md-layout">
                 <borrowed-by-me></borrowed-by-me>
                </div>
              </template>     
              <template slot="tab-pane-2">
                <div class="md-layout">
                  <my-profile></my-profile>
                </div>
              </template>         
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components";
import BorrowedFromMe from "./components/BorrowedFromMe";
import BorrowedByMe from "./components/BorrowedByMe";
import AddOffer from "./components/AddOffer"
import MyProfile from "./components/ProfileEdit"

export default {
  components: {
    Tabs,
    BorrowedFromMe,
    BorrowedByMe,
    AddOffer,
    MyProfile
  },
  bodyClass: "profile-page",
  data() {
    return {
      userAvatar: "",
      tabs: [ 'Wypożyczone', 'Edytuj profil'],
      tabsIcons: ['arrow_upward', 'person'],
    };
  },
  
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background4.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    },
    avatar: {
      type: String,
      default: require("@/assets/img/faces/marc.jpg")
    }
  },
    created() {
    // reset login status

    var a = this.$session.get(admin);
    if(a==true){
      return alert("Admin is OK OK");
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  mounted() {
    this.userAvatar = JSON.parse(localStorage.getItem('user')).avatarUrl;
    if(this.user.userType < 2) {
      this.tabs.push('Administracja');
      this.tabsIcons.push('build');
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs /deep/ {
  margin-top: 10px !important;
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}
</style>
