<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container" v-if="!this.registerFinished">
        <div class="md-layout">
          <div class="md-layout-item md-size-66 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <register-card header-color="gray">
              <h4 slot="title" class="card-title">Rejestracja</h4>
              <div class="md-layout" slot="inputs">    
                <div class="md-layout-item" style="margin: 0 10px 0 0">         
                  <md-field class="md-form-group">
                    <md-icon>email</md-icon>
                    <label>Email...</label>
                    <md-input v-model="user.email" type="email"></md-input>
                  </md-field>
                  <md-field class="md-form-group">
                    <md-icon>lock_outline</md-icon>
                    <label>Hasło...</label>
                    <md-input type="password" v-model="user.password"></md-input>
                  </md-field>
                  <md-field class="md-form-group">
                    <md-icon>lock_outline</md-icon>
                    <label>Powtórz hasło...</label>
                    <md-input type="password" v-model="passwordRepeat"></md-input>
                  </md-field>
                  <md-field class="md-form-group">
                    <md-icon>account_circle</md-icon>
                    <label>Imię</label>
                    <md-input v-model="user.firstName"></md-input>
                  </md-field>
                  <md-field class="md-form-group">
                    <md-icon>account_circle</md-icon>
                    <label>Nazwisko</label>
                    <md-input v-model="user.lastName"></md-input>
                  </md-field>
                </div>

              </div>
              <md-button slot="footer"  @click="handleSubmit" style="color:gray;" class="md-simple md-lg">
                Zarejestruj się 
              </md-button>
            </register-card>
          </div>
        </div>
      </div>
      <div class="container" v-else>
        <div class="md-layout">
          <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="grey">
                <h4 slot="title" class="card-title">Rejestracja</h4>             
                <h6 slot="inputs">Rejestracja przebiegła pomyślnie</h6>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { RegisterCard } from "@/components";
import { LoginCard } from "@/components";

import axios from 'axios'

export default {
  components: {
    RegisterCard,
    LoginCard
  },
  bodyClass: "register-page",
  data() {
    return {
      user: { },
      registerFinished: false,
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background6.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    loggingIn() {
      return this.$store.state.authentication.status.loggingIn;
    }
  },
  created() {
    this.$store.dispatch("authentication/logout");
  },
  methods: {
    handleSubmit() {
      axios.post('http://localhost:56119/api/authentication/register', this.user)
      .then((response) => {
        console.log(response);
        this.registerFinished = true;
      })
      .catch(function (error) {
        console.log(error);
      });
    },
  }
};
</script>

<style lang="css">
</style>
