<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle" style="height: 200px;">
      <div class="container">
        <div class="md-layout">
    			<div class="md-layout-item md-size-50 md-small-size-70 md-xsmall-size-100">
    				
    			</div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <div class="section">
        <div class="container">
          <div class="md-layout">
            <div class ="md-layout-item md-size-50 md-xsmall-size-100 mx-auto ">
                <center><h2>Dane do zamówienia</h2></center>
                <div class="md-layout form-group">         
                  <div class="md-layout-item md-size-100">
                      <md-datepicker v-model="startDate">
                          <label>Select date</label>
                      </md-datepicker>
                  </div>
                  <div class="md-layout-item md-size-100">
                      <md-datepicker v-model="endDate">
                          <label>Select date</label>
                      </md-datepicker>
                  </div>
                  <div class="md-layout-item md-size-100">
                      <md-button class="md-info" @click="checkout(errors)" style="width: 100%; margin: 10px 5px 0 5px;">Zamów</md-button>
                  </div>
                </div>
            </div>
            <div class="md-layout-item md-size-50 md-xsmall-size-100 mx-auto text-left">
               <center><h2>Rezerwowany przedmiot:</h2></center>
              <div>
                <img :src="product.photoUrl" style="height: 250px; vertical-align: middle; margin-left: auto; margin-right: auto; display: block;">
              </div>
              <div>
                <div style="font-size: 21px; font-weight: 700; text-align: center; margin-top: 10px;">{{product.name}}</div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>      
  </div>
</template>

<script>
import axios from "axios"
import { authHeader } from '../_helpers';
import router from '../_helpers/router'
import moment from 'moment'


export default {
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    validate() {
        return this.user.firstName != null && this.user.lastName != null
    },
    loggedUser() {
              console.log(loggedUser);
      return JSON.parse(localStorage.getItem('user'));
    }
  },
    data() {
      return { 
        productId: String,
        user: { },
        reservation: { },
        startDate: null,
        endDate: null,
        product: { }
      }
  },
    props: {
    header: {
      type: String,
      default: require("@/assets/img/background5.jpg")
    },
       props:["id"],
  },

  created() {
    this.id = this.$route.params.id;
  },
  methods: {
    checkout(formErrors) {
      console.log(authHeader());
        //if(!formErrors.any() && this.validate) {
          this.reservation.userId = this.user.userId;
          this.reservation.productId = this.id;
          this.reservation.start = moment(String(this.startDate)).format('YYYY-MM-DD');
          this.reservation.end = moment(String(this.endDate)).format('YYYY-MM-DD');
          console.log(this.reservation)
            axios.post('http://localhost:56119/api/Rental/AddRent', this.reservation, { headers: authHeader() })
            .then(function (response) {
                console.log(response);
                router.push({ path: '/reservationlanding' })
            })
            .catch(function (error) {
                console.log(error);
                alert("Zasób nie jest dostępny w wybranym terminie");
            });
        //} else {
            
        //}
    },
  },

  mounted() {
    console.log(JSON.parse(localStorage.getItem('user')));
    if(JSON.parse(localStorage.getItem('user')) != null) 
      this.user = JSON.parse(localStorage.getItem('user'));

      axios.get('http://localhost:56119/api/Product/GetProduct?productId=' + this.id, { headers: authHeader() } )
      .then(response => {
          // handle success
          console.log(response);
          this.product = response.data;
      })
      .catch(function (error) {
          // handle error
          console.log(error);
      })
      .then(function () {
          // always executed
      });
  }
};
</script>

<style scoped>
  .checkout-box {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    box-sizing: border-box;
    padding: 1em;
  }
  .checkout-list {
    padding: 0;
  }

.checkout-restaurant {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }

  .checkout-product {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }
  .checkout-product * {
    place-self: center;
  }

  .restaurant-name {
    box-sizing: border-box;
  }
  .product-name {
    box-sizing: border-box;
  }
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
  }
  .product-remove {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background-color: #E0E0E0;
    color: #fff;
    cursor: pointer;
  }

  .product-more {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background-color: green;
    color: #fff;
    cursor: pointer;
  }

  .product-less {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    cursor: pointer;
  }
  .total {
    font-size: 2em;
    font-weight: bold;
    align-self: flex-end;
  }
  .checkout-message {
    font-size: 1.5em;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all .5s;
  }
  .fade-enter, .fade-leave-to {
    transform: translateX(-40px);
    opacity: 0;
  }
</style>