<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto">
            <login-card header-color="grey">
              <h4 slot="title" class="card-title">Rezerwacja</h4>             
              <div slot="inputs">
                Wybrany produkt został zarezerwowany
              </div>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";


export default {
  components: {
    LoginCard
  },
  bodyClass: "cart-checkout-landing-page",
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background5.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="css">
</style>
