<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle" style="height: 400px;">
      <div class="container">
        <div class="md-layout">
    			<div class="md-layout-item md-size-50 md-small-size-70 md-xsmall-size-100">
    				<h1 class="title">Znalezione oferty</h1>
                    <!-- <h4></h4> -->
    			</div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <div class="section">
        <div class="container">
          <div class="md-layout">
            <div class="md-layout-item md-size-100 md-xsmall-size-100 mx-auto text-center">
            <offer-search-element :product=item v-for="item in products" v-bind:key="item.name"></offer-search-element>
            </div>
          </div>
    </div>
  </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import OfferSearchElement from "./components/OfferSearchElement";


export default {
  bodyClass: "landing-page",
  components: {
    OfferSearchElement
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background5.jpg")
    },
    teamImg1: {
      type: String,
      default: require("@/assets/img/faces/avatar.jpg")
    },
    teamImg2: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    },
    teamImg3: {
      type: String,
      default: require("@/assets/img/faces/kendall.jpg")
    },
    querySearch: {
        type: String,
        default: ""
    },
    category: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      name: null,
      email: null,
      message: null,
      products: [],
    };
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
  },
  mounted() {
    console.log(this.querySearch);
    axios.get('http://localhost:56119/api/Product/SearchProduct?query='+ this.querySearch + '&categoryId=' + this.category)
    .then(response => {
        // handle success
        console.log(response);
        this.products = response.data.products
    })
    .catch(function (error) {
        // handle error
        console.log(error);
    })
    .then(function () {
        // always executed
    });
  }
};
</script>

<style lang="scss" scoped>
.md-card-actions.text-center {
  display: flex;
  justify-content: center !important;
}
.contact-form {
  margin-top: 30px;
}

.md-has-textarea + .md-layout {
  margin-top: 15px;
}
</style>
