<template>
  <div class="wrapper" style="width: 100%">
    <div class="md-layout">
            <div class ="md-layout-item md-size-100 md-xsmall-size-100 mx-auto ">
                <h2>Nowa oferta</h2>
                <div class="md-layout form-group">
                    <div class="md-layout-item md-size-50">
                        <md-field v-bind:class="{ 'md-error': errors.has('firstName')}">
                            <label>Nazwa</label>
                            <md-input v-model="product.name" v-validate="'required'" name="name" type="text" v-text="1"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-field v-bind:class="{ 'md-error': errors.has('firstName')}">
                            <label>Ilość</label>
                            <md-input v-model="product.quantity" v-validate="'required'" name="name" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                      <md-datepicker v-model="startDate">
                          <label>Wypozyczam od</label>
                      </md-datepicker>
                  </div>
                  <div class="md-layout-item md-size-100">
                      <md-datepicker v-model="endDate">
                          <label>Wypozyczam do</label>
                      </md-datepicker>
                  </div>
                  <div class="md-layout-item md-size-50">
                      <md-field v-bind:class="{ 'md-error': errors.has('price')}">
                        <label>Cena za dzień</label>
                      <md-input v-model="product.price" v-validate="'required'" name="name" type="text"></md-input>
                      </md-field>
                    </div>
                  <div class="md-layout-item md-size-50">
                    <md-field>
                      <md-select v-model="product.category" name="selectedcategory" id="selectedcategory" placeholder="Kategoria">
                      <md-option value="5cf77d798e62300970d6b090">Narzędzia</md-option>
                      <md-option value="5cf77eb28e62300970d6b091">Motoryzacja</md-option>
                      <md-option value="5cf77ee38e62300970d6b092">Sprzęt narciarski</md-option>
                    </md-select>
                    </md-field>
                    </div>
                  <div class="md-layout-item md-size-30">
                        <md-button id="pick-avatar" class="md-default" style="width: 100%; margin: 10px 5px 0 5px;">Dodaj zdjęcie</md-button>
                  </div>
                  <div class="md-layout-item md-size-100">
                      <md-button class="md-info" @click="checkout(errors)" :disabled="errors.any()" style="width: 100%; margin: 10px 5px 0 5px;">Dodaj</md-button>
                  </div>
                </div>

                <avatar-cropper
                @uploaded="handleUploaded"
                trigger="#pick-avatar"
                upload-url="http://localhost:56119/Users/UploadAvatar"
                :uploadHeaders="getHeaders"
                :labels="{submit: 'Wyślij', cancel: 'Anuluj' }"
                :cropper-options="{aspectRatio: 0}"/>
            </div>
        </div>
  </div>
</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
import { Tabs } from "@/components";
import AvatarCropper from "vue-avatar-cropper"
import moment from 'moment'
import router from '@/_helpers/router'

export default {
  components: {
    Tabs,
    AvatarCropper
  },
  bodyClass: "profile-page",
  data() {
    return {
        product: { },
        reservations: { },
        startDate: new Date(),
        endDate: new Date()
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background1.jpg")
    },
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    user() {
      return JSON.parse(localStorage.getItem('user'));
    },
    getHeaders() {
        return authHeader();
    }
  },
  mounted() {
    axios.get('http://localhost:56119/api/Reservations/GetOwnReservations', { headers: authHeader() })
      .then((response) => {
        console.log(response);
        this.reservations = response.data
      })
      .catch(function (error) {
        console.log(error);
      });
  },
  methods: {
    checkout(formErrors) {
      console.log(authHeader());
        //if(!formErrors.any() && this.validate) {
          this.product.categoryId = "5cf77d798e62300970d6b090";
          this.product.offerStart = moment(String(this.startDate)).format('YYYY-MM-DD');
          this.product.offerEnd = moment(String(this.endDate)).format('YYYY-MM-DD');
          console.log(this.product)
            axios.post('http://localhost:56119/api/Products/AddProduct', this.product, { headers: authHeader() })
            .then(function (response) {
                console.log(response);
                router.push({ path: '/offerlanding' })
            })
            .catch(function (error) {
                console.log(error);
                alert("Dodawanie zasobu nie powiodło się");
            });
        //} else {
            
        //}
    },
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs /deep/ {
  margin-top: 10px !important;
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}
</style>
