<template>
  <div class="wrapper" style="width: 100%">
    <div v-if="reservations.length > 0">
     <md-table>
      <md-table-row>
        <md-table-head>Photo</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>From</md-table-head>
        <md-table-head>To</md-table-head>
        <md-table-head>Nalezność</md-table-head>
        <md-table-head>Pozyczający</md-table-head>
      </md-table-row>

      <md-table-row v-for="reservation in reservations" v-bind:key="reservation.offerId">
        <md-table-cell><img :src="reservation.imageUrl" style="height: 30px; max-width: 30px; margin-bottom: 0"></md-table-cell>
        <md-table-cell><router-link :to="{ name: 'offerdetails', params: { id: reservation.offerId } }"><strong>{{reservation.offerName}}</strong></router-link></md-table-cell>
        <md-table-cell>{{reservation.dateRange.start | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
        <md-table-cell>{{reservation.dateRange.end | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
        <md-table-cell>{{reservation.price}} zł</md-table-cell>
        <md-table-cell>{{reservation.userName}}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>

  <div v-else>
      Brak rezerwacji
  </div>
  </div>
</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
export default {
  components: {
  },
  bodyClass: "profile-page",
  data() {
    return {
      reservations: { }
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background1.jpg")
    },
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
  mounted() {
    axios.get('http://localhost:56119/api/Reservations/GetProductsReservations', { headers: authHeader() })
      .then((response) => {
        console.log(response);
        this.reservations = response.data
      })
      .catch(function (error) {
        console.log(error);
      });
  }
};
</script>

<style lang="scss" scoped>

</style>
