<template>
  <div class="wrapper" style="width: 100%">
    <div v-if="reservations.length > 0">
     <md-table>
      <md-table-row>
        <md-table-head>Photo</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>From</md-table-head>
        <md-table-head>To</md-table-head>
        <md-table-head>Akcja</md-table-head>
      </md-table-row>

      <md-table-row v-for="reservation in reservations" v-bind:key="reservation.productId">
        <md-table-cell><img :src="reservation.imageUrl" style="height: 30px; max-width: 30px; margin-bottom: 0"></md-table-cell>
        <md-table-cell><router-link :to="{ name: 'offerdetails', params: { id: reservation.productId } }"><strong>{{reservation.productName}}</strong></router-link></md-table-cell>
        <md-table-cell>{{reservation.dateRange.start | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
        <md-table-cell>{{reservation.dateRange.end | moment("dddd, MMMM Do YYYY")}}</md-table-cell>
        <md-table-cell style="width:50px; height:30px;"><md-button class="md-danger" @click="deleteReservation(reservation.productId,reservation.userId)">Usuń</md-button></md-table-cell>
      </md-table-row>
    </md-table>
  </div>

  <div v-else>
      Brak rezerwacji
  </div>
  </div>
</template>

<script>
import axios from "axios"
import { authHeader } from '@/_helpers';
import { Tabs } from "@/components";
export default {
  components: {
    Tabs
  },
  bodyClass: "profile-page",
  data() {
    return {
      reservations: { }
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/background1.jpg")
    },
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    user() {
      return JSON.parse(localStorage.getItem('user'));
    }
  },
   methods: {
        getReservation() {
        axios.get('http://localhost:56119/api/Rental/GetOwnReservations', { headers: authHeader() } )
        .then(response => {
            // handle success
            console.log(response);
            this.reservations = response.data
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
      },

    deleteReservation(productId,userId) {
      axios.delete('http://localhost:56119/api/Rental/DeleteReservation?productId='+ productId +"&userId="+userId, {headers:authHeader()})
            .then(response => {
              this.getReservation();
              console.log(response);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            }); 
    }    
  },
  mounted() {
    axios.get('http://localhost:56119/api/Rental/GetOwnReservations', { headers: authHeader() })
      .then((response) => {
        console.log(response);
        this.reservations = response.data
      })
      .catch(function (error) {
        console.log(error);
      });
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs /deep/ {
  margin-top: 10px !important;
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}
</style>
