<template>
<div class="offerRow">
<table style="width: 100%; height: 100%;">
        <tbody>
            <tr>
                <td style="width: 150px; text-align: center;" rowspan="2">
                    <img :src="getLogoUrl(product.photoUrl)" style="max-width:150px; max-height:130px; vertical-align: middle; float: none;">
                </td>
                <td valign="top" style="padding-top: 10px;"> 
                    <div style="margin-left: 15px;">
                        <router-link :to="{ name: 'offerdetails', params: { id: product.id } }"><strong>{{ product.name }}</strong></router-link>
                        <p>
                        <span>{{product.category}}</span>
                        </p>
                    </div>
                </td>
                <td valign="top" style="width: 200px; padding-top: 10px">
                    <div style="padding-right: 10px">
                    <p style="font-size: 23px; text-align: right;">
                    </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="bottom"></td>
                <td style="width: 85px"></td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>


export default {
  name: 'offerSearchElement',
  props: ["product"],
  data() {
    return {
      dev: this.product
    }
  },
  methods: {
    getLogoUrl(filename) {
        return filename;
    }
  }
}
</script>

<style scoped>

 .offerRow {
    vertical-align: middle;
    width: 100%;
    height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #eeeeee;
    padding: 10px 10px 10px 10px;
    border: 1px solid #bfbfbf;
}

.offerInfo {
    height:40px;
    margin-top: 10px;
}

.offerInfoElement {
    float: left;
    margin-right: 15px;
}

a {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    line-height: 1.4rem;
    font-size: 1.2rem;
    margin: 0 0 8px;
    text-align: left;
    color: #0a3847 !important;
}

a:hover {
    color: #1574f5 !important;
}
</style>
