<template>
 <div class="text-center">
                <div class="md-layout form-group md-alignment-top-center" style="margin-left:20%;">
                    <div class="md-layout-item">
                        <md-field v-bind:class="{ 'md-error': errors.has('firstName')}">
                            <label>Imię</label>
                            <md-input v-model="user.firstName" v-validate="'required'" name="firstName" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-field v-bind:class="{ 'md-error': errors.has('lastName')}">
                            <label>Nazwisko</label>
                            <md-input v-model="user.lastName" v-validate="'required'" name="lastName" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-field v-bind:class="{ 'md-error': errors.has('email')}">
                            <label>Email</label>
                            <md-input v-model="user.email"  name="email" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-50">
                        <md-button id="pick-avatar" class="md-default" @click="saveProfile(errors)" style="width: 100%; margin: 10px 5px 0 5px;">Wybierz awatar</md-button>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-button class="md-info" @click="saveProfile(errors)" :disabled="errors.any()" style="width: 100%; margin: 10px 5px 0 5px;">Zapisz</md-button>
                    </div>
                </div>

                <avatar-cropper
                @uploaded="handleUploaded"
                trigger="#pick-avatar"
                upload-url="http://localhost:56119/api/Users/UploadAvatar"
                :uploadHeaders="getHeaders"
                :labels="{submit: 'Wyślij', cancel: 'Anuluj' }"/>
  </div>
</template>

<script>

import { authHeader } from '@/_helpers';
import axios from 'axios'
import AvatarCropper from "vue-avatar-cropper"

export default {
  bodyClass: "profile-page",
  components: {
      AvatarCropper
  },
  data() {
    return {
        user: { },
        userAvatar: undefined,
        labels: {submit: "Wyślij", cancel: "Anuluj" }
    };
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    },
    getHeaders() {
        return authHeader();
    }
  }, 
  methods: {
      handleUploaded(resp) {
          console.log(resp);
        this.userAvatar = resp;
        this.$emit('avatar', this.userAvatar)
      },
      saveProfile(errors) {
        axios.put('http://localhost:56119/Users/UpdateUserProfile', this.user, { headers: authHeader() })
        .then((response) => {
            console.log(response);
            localStorage.setItem('user', JSON.stringify(this.user));
        })
        .catch(function (error) {
            console.log(error);
        });
      }
  },
  mounted() {
      this.user = JSON.parse(localStorage.getItem('user'));
  }
};
</script>

<style>
  .checkout-box {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    box-sizing: border-box;
    padding: 1em;
  }
  .checkout-list {
    padding: 0;
  }

  .checkout-order {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }

.checkout-restaurant {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }

  .checkout-product {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }
  .checkout-product * {
    place-self: center;
  }

  .restaurant-name {
    box-sizing: border-box;
  }
  .product-name {
    box-sizing: border-box;
  }
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
  }
</style>
